{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://materializecss.com/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://materializecss.com/templates/starter-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"> </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
          </ul>
    
          <ul id="nav-mobile" class="sidenav">
            <li><a href="#"></a></li>
            <a class="waves-effect waves-light btn blue" style="width: 90%;" href="{%url 'url_cadastro'%}" ><i class="material-icons right">brightness_1</i>Cadastro</a><br>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
      {%for cont in Person%}
   
      <ul class="collection" >

        <li class="collection-item"><b>Nome: {{cont.first_name}} {{cont.last_name}} <br>Data Nascimento: {{cont.dt_nasc}}<br>Celular: {{cont.phone}}<br>Email: {{cont.email}}</b></li>
        <li class="collection-item"><a href="atualizar/{{cont.id}}" class="waves-effect btn blue" ><i class="material-icons right">edit</i>Editar</a>
        <a  href="deletar/{{cont.id}}" class="waves-effect btn blue" ><i class="material-icons right">delete_forever</i>Apagar</a>
      </li>
      </ul>

 
      {%endfor%}
      <footer class="page-footer blue">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Company Bio</h5>
              <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
    
    
            </div>
           <!-- <div class="col l3 s12">
              <h5 class="white-text">Settings</h5>
              <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
              </ul>
            </div>-->
            <div class="col l3 s12">
              <h5 class="white-text">Connect</h5>
              <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            
              <div class="collection-item"><b>Usuário: {{user}}</b><a href="/accounts/logout" class="secondary-content white-text"><b>SAIR</b></a></div>
            
          </div>
        </div>
      </footer>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://materializecss.com/bin/materialize.js"></script>
    <script src="https://materializecss.com/templates/starter-template/js/init.js"></script>
</body>
</html>